<app-header></app-header>

<ion-content>
  <div class="titre ion-text-center">
    <h1>Homard</h1>
  </div>
  <img src="../../assets/images/homardRecette.png" class="image-recette"/>
  <div class="ion-text-center text-recette">
    <br>
    <ion-text>
      <br>
      <div class="ion-justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a dolor lacus. Donec mollis vel enim id interdum. In hac habitasse platea dictumst. In metus odio, tempus eu neque id, tempus bibendum nibh. Maecenas ac augue sed quam volutpat bibendum. Sed finibus odio et tempor viverra. Integer tempor faucibus efficitur.</div>
    </ion-text>
  </div>
</ion-content>
