<app-header></app-header>
<ion-content>
  
    <ion-grid>
      <div class="bateaux bateaux-titre ion-text-center">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="8">
            <h1 class="titre">
              Choissisez vos produits
            </h1>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </div>
      
      <div class="bateaux bateaux-button ion-text-center">
        <ion-row class="ion-margin-top">
          
          <ion-col></ion-col>
          <ion-col size="6">
            <ion-button class="button" expand="block" *ngFor="let categorie of categorieList" (click)="onLoadCategorieProduit(categorie)">
              {{ categorie.name }}</ion-button>
          </ion-col>
          <ion-col></ion-col> 
        </ion-row>
        
         <!-- <ion-row>
          <ion-col></ion-col>  
        <ion-col size="4"><ion-button expand="block" *ngFor="let categorie of categorieList" *ngIf="" (click)="onLoadCategorieProduit(produit)">{{ categorie }}</ion-button>
        </ion-col>
          <ion-col></ion-col>
       </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="4">
            <ion-button expand="block" *ngFor="let categorie of categorieList" (click)="onLoadCategorieProduit(produit)">{{ categorie }}</ion-button>

          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="4"><ion-button expand="block" *ngFor="let categorie of categorieList" (click)="onLoadCategorieProduit(produit)">{{ categorie }}</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>  -->
        
        
      </div>
  </ion-grid>
</ion-content>

  <!-- <app-footer-menu></app-footer-menu> -->
