<app-header></app-header>
<ion-content>

  <img src="../../assets/images/TIG.png" alt="The Wisconsin State Capitol building in Madison, WI at night" class="image-contact"/>

  <app-information-contact>
    
  </app-information-contact>

  <div class="ion-text-center poeme-contact">
    <ion-text>
      <h2>à propos de moi :</h2>
    </ion-text>
    <ion-text>
      <li style="list-style-type:none;">Qu’il est chaud le soleil</li>
      <li style="list-style-type:none;">Quand nous sommes en vacances</li>
      <li style="list-style-type:none;">Y a d’la joie, des hirondelles</li>
      <li style="list-style-type:none;">C’est le sud de la France</li>
      <li style="list-style-type:none;">Papa bricole au garage</li>
      <li style="list-style-type:none;">Maman lit dans la chaise longue</li>
      <li style="list-style-type:none;">Dans ce joli paysage</li>
      <li style="list-style-type:none;">Moi, je me balade en tongs</li>
    </ion-text>
    <br>
    <ion-text>
      <li style="list-style-type:none;">Que du bonheur!</li>
      <li style="list-style-type:none;">Que du bonheur!</li>
    </ion-text>
  </div>
  
  
</ion-content>
