<ion-header>
  <ion-toolbar>
    <ion-title>listeRecettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="titre ion-text-center">
    Nos recettes
  </ion-title>

  <ion-text class="titre ion-text-center"  color="secondary">
    <h2 class="t2">Toutes les recettes du Bateau de Thibault</h2>
  </ion-text>
  <app-information-contact></app-information-contact>
  
<div class="btn-row">
  <div>
    <ion-button class="" color="secondary">Hommard</ion-button>
    <ion-button class="" color="primary">St Jacques</ion-button>
  </div>
  <div class="row">
    <ion-button class="" color="tertiary">Bar</ion-button>
    <ion-button class="" color="success">Tourteau</ion-button>
  </div>
  <div class="row">
    <ion-button class="" color="medium">Recette x </ion-button>
    <ion-button class="" color="warning">Recette y</ion-button>
  </div>
</div>

</ion-content>
