<app-header></app-header>

<ion-content>
  <ion-grid>
    <div class="listerecettes listerecettes-titre ion-text-center">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="8">
          <h1 class="titre">Nos recettes</h1>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
    <div class="listerecettes listerecettes-content">
      <ion-row class="ion-margin-top">
        <ion-col></ion-col>
        <ion-col size="8">
          <ion-text class="ion-text-center">
            <app-information-contact></app-information-contact>
          </ion-text>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
    <div class="listerecettes listerecettes-button ion-text-center">
      <ion-row class="ion-margin-top">
        <ion-col></ion-col>
        <ion-col size="4">
          <ion-button (click)="onGoToUneRecette()" color="primary" expand="block">Homard</ion-button>
        </ion-col>
        <ion-col size="4"
          ><ion-button color="secondary" expand="block">St-Jacques</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="4">
          <ion-button color="tertiary" expand="block">Bar</ion-button>
        </ion-col>
        <ion-col size="4"
          ><ion-button color="success" expand="block">Tourteau</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="4">
          <ion-button color="warning" expand="block">Recette x</ion-button>
        </ion-col>
        <ion-col size="4"
          ><ion-button color="danger" expand="block">Recette y</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
