@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

@media only screen and (max-width: 600px) {
    .listerecettes-content{
        margin-top:50%;
    }
    .listerecettes-button{
        margin-top:50%;
    }
}
@media only screen and (min-width: 768px) {
    .listerecettes-content{
        margin-top:10%;
    }
    .listerecettes-button{
        margin-top:10%;
    }
}
