<style>
  @import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
</style>


<ion-content>
  <app-header></app-header>
  <ion-grid>
    <div class="bateaux bateaux-titre ion-text-center">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="8">
          <h1 class="titre">
            nos bateaux partenaires
          </h1>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
    <div class="bateaux bateaux-content">
      <ion-row class="ion-margin-top">
        <ion-col></ion-col>
        <ion-col size="8">
          <ion-text class="ion-text-center">
            <h3 class="ion-title-center">Tous les eaux mènent à Thibault</h3>
            <p class="ion-margin-top">06.63.99.99.78</p>
          </ion-text>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
    <div class="bateaux bateaux-button ion-text-center">
      <ion-row class="ion-margin-top">
        <ion-col></ion-col>
        <ion-col size="4">
          <ion-button expand="block">Bistrot des Gascons</ion-button>

        </ion-col>
        <ion-col size="4">
          <ion-button expand="block">Les fous de l'île</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="4">
          <ion-button expand="block">Bistrot Landais</ion-button>

        </ion-col>
        <ion-col size="4">
          <ion-button expand="block">Villa 9-Trois</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="4">
          <ion-button expand="block">Bistrot Landais</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block">Devenez partenaire!</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </ion-grid>



<app-footer-menu></app-footer-menu>
</ion-content>