<app-header></app-header>

<ion-content>
  <ion-text color="secondary">
    <h1 class="titre ion-text-center">De la brise</h1>
  </ion-text>

  <img src="../../assets/images/deLaBrise.png" class="image-bateau" />
  <div class="ion-text-center text-bateau">
    <br />
    <ion-text>
      <br />
      <div class="ion-justify-content-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a
        dolor lacus. Donec mollis vel enim id interdum. In hac habitasse platea
        dictumst. In metus odio, tempus eu neque id, tempus bibendum nibh.
        Maecenas ac augue sed quam volutpat bibendum. Sed finibus odio et tempor
        viverra. Integer tempor faucibus efficitur.
      </div>
    </ion-text>
  </div>
</ion-content>
