.t1{
    padding-left: 850px;
    padding-top: 80px;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
}

.img1{
    padding-top: 80px;
    padding-left: 900px;
}

.date1{
    padding-top: 10px;
    padding-left: 900px;
}

.text1{
    padding-top: 40px;
    padding-left: 500px;
    padding-right: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}