.img404{
    background-image: url('https://images.wallpaperscraft.com/image/single/boat_sea_view_from_above_water_119937_1920x1080.jpg');
    height: 1000px;
}

.titre1{
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 90px;
    padding-left: 800px;
    padding-top: 200px;
}

.titre2{
    color: aliceblue;
    font-family:'calibri', Calibri;
    font-size: 30px;
    padding-left: 860px;
    padding-top: 400px;
}