<app-header></app-header>

<ion-content>
  <ion-title class="titre ion-text-center">
    restaurants partenaires
  </ion-title>

  <ion-text class="titre ion-text-center"  color="secondary">
    <h2 class="t2">Tous les restaurants partenaires avec le Bateau de Thibault</h2>
  </ion-text>
  <app-information-contact></app-information-contact>
  
<div class="btn-row">
  <div>
    <ion-button class="" color="secondary">Bistrot des Gascons</ion-button>
    <ion-button class="" color="primary">Les fous de l'ile</ion-button>
  </div>
  <div class="row">
    <ion-button class="" color="tertiary">Bistrot Landais</ion-button>
    <ion-button class="" color="success">Villa 9-Trois</ion-button>
  </div>
  <div class="row">
    <ion-button class="" color="medium">Bistrot du Sommelier</ion-button>
    <ion-button class="" color="warning">Devenez partenaire!</ion-button>
  </div>
</div>
<app-footer-menu></app-footer-menu>
</ion-content>
